.loading {
    display: none;
    top: 55%;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    color: white;
    text-align: center;
    transform: translateY(-50%);
}

.text_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loadingText {
    font-size: 150px;
    font-weight: 600;
    margin-bottom: 50px;
    text-shadow: #000 0px 5px 150px;
}

.subText {
    font-size: 30px;
}

@media all and (max-width: 800px) {
    .loadingText {
        font-size: 25vw;
        font-weight: 600;
        margin-bottom: 50px;
        text-shadow: #000 0px 5px 25vw;
    }
    
    .subText {
        font-size: 5vw;
    }
}

@keyframes slideUp {
    to {
        opacity: 1;
        top: 50%;
    }
}